    <!-- Sidebar -->
    <div class="bg-dark border-right d-print-none" id="sidebar-wrapper">
      <div class="sidebar-heading bg-dark text-light font-weight-bold">IRMAK-16</div>
     <div id="MainMenu">
  <div class="list-group panel">
        <a href="/" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa fa-caret-right"></i> Rezervasyon</a>
        <a href="/irmak" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa fa-caret-right"></i> Irmak</a>
        <a href="/kaan" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa fa-caret-right"></i> Kaan</a>
        <a href="/mkpills24" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa fa-caret-right"></i> Toplam Gelir</a>
        <a href="/logout" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa fa-caret-right" aria-hidden="true"></i> User : {{request.user.username}}</a>
        

    </div>
   
   </div>
</div>

    <!-- /#sidebar-wrapper -->